body {
    margin: 0;
    font-family: 'Open Sans';
}
h1 {
    margin-top: 20px;
	color: purple;
}
li {
    list-style: none;
    display: inline;
}
.heart {
    margin: center;
}
.header {
    padding-top: 30px;
    height: 70px;
    background-color: coral;
}
.header :hover {
    background-color: lightpink;
}
    div {
        text-align: center
    }
img {
    margin: 50px 0;
    border-radius: 90px;
    height: 200px;
    transition: border-radius 1s ease-in-out;
    -webkit-transition: border-radius 1s ease-in-out;
    -moz-transition: border-radius 1s ease-in-out;
    -o-transition: border-radius 1s ease-in-out;
}
ul {
    list-style-type: none;
    
}
.blah {
    font-style: italic;
    text-decoration: underline;
}
a {
    color: bisque;
}
a:hover {
color: palevioletred; 
}

.menu{
    width: 100px;
    height: 30px;
    background-color: coral;
    text-align: center;
    margin: auto;
}
.submenu{
    display: none;
}
.menu:hover .submenu{
    display: block;
}
.footer {
    height: 80px;
    width: 100%;
    margin: 50px 0; 
    background-color: chocolate;
}
#icon1{
    text-decoration:none;
}